<div class="container mt-5">
  <div class="form-group">
  <form
    #cadastro = "ngForm"
    (submit) = "save();">

    <label for = "name">Nome</label>
    <input type="text"
      id = "name"
      name = "name"
      class = "form-control"
      [(ngModel)] = "name"
      #nameInput = "ngModel"
      required
      [class.is-invalid]="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
      
      <small class="form-text text-muted" 
        *ngIf="!(nameInput.invalid && (nameInput.dirty || nameInput.touched))">
        Informe o nome completo
      </small>
      
      <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
            class="invalid-feedback">
        <span *ngIf="nameInput.errors.required">
          Você precisa informar o nome
        </span>
      </div>

    <label for = "nascimento">Nascimento</label>
    <input type="date"
      id = "birth"
      name = "birth"
      class = "form-control"
      [(ngModel)] = "birth"
      #birthInput = "ngModel"
      required>
      
    <label for = "sex">Sexo</label>
    <div class="radio">
      <label><input type="radio" name="sex" checked>Masculino</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="sex">Feminino</label>
    </div>

    <label for = "cpf">CPF</label>
    <input type="text"
      id = "cpf"
      name = "cpf"
      class = "form-control"
      [(ngModel)] = "cpf"
      #cpfInput = "ngModel"
      required
      [class.is-invalid]="cpfInput.invalid && (cpfInput.dirty || cpfInput.touched)">
      
      <small class="form-text text-muted" 
        *ngIf="!(cpfInput.invalid && (cpfInput.dirty || cpfInput.touched))">
        Informe o CPF
      </small>
      
      <div *ngIf="cpfInput.invalid && (cpfInput.dirty || cpfInput.touched)"
            class="invalid-feedback">
        <span *ngIf="cpfInput.errors.required">
          Você precisa informar o CPF
        </span>
       
      </div>

    <label for = "email">E-Mail</label>
    <input type="email"
      id = "email"
      name = "email"
      class = "form-control"
      [(ngModel)] = "email"
      required>

    <label for = "phone">Telefone</label>
    <input type="number"
      id = "phone"
      name = "phone"
      class = "form-control"
      [(ngModel)] = "phone"
      required>

      <label for = "endereco">Endereço</label>
      <input type="text"
        id = "endereco"
        name = "endereco"
        class = "form-control"
        [(ngModel)] = "endereco"
        #enderecoInput = "ngModel"
        required 
        minlength="20"
        [class.is-invalid]="enderecoInput.invalid && (enderecoInput.dirty || enderecoInput.touched)">
      
        <div *ngIf="enderecoInput.invalid && (enderecoInput.dirty || enderecoInput.touched)"
              class="invalid-feedback">
          <span *ngIf="enderecoInput.errors.minlength">
            Você precisa informar no minimo 20 caracteres
          </span>
         
        </div>
    <label for = "estado">Estado</label>
    <select 
        id = "estado"
        name="estado"
        class = "form-control"
        [(ngModel)] = "estado"
        #estadoInput = "ngModel">
        <option *ngFor="let estado of uf">{{estado}}</option>
    </select>
    <label for = "cep">CEP</label>
      <input type="number"
        id = "cep"
        name = "cep"
        class = "form-control"
        [(ngModel)] = "cep"
        #cepInput = "ngModel"
        required 
        [class.is-invalid]="cepInput.invalid && (cepInput.dirty || cepInput.touched)">
      
        <div *ngIf="cepInput.invalid && (cepInput.dirty || cepInput.touched)"
              class="invalid-feedback">
          <span *ngIf="cepInput.errors.required">
            Você precisa informar o CEP
          </span>
         
        </div>

    <label for = "cidade">Cidade</label>
    <input type="text"
        id = "cidade"
        name = "cidade"
        class = "form-control"
        [(ngModel)] = "cidade"
        #cidadeInput = "ngModel"
        required 
        [class.is-invalid]="cidadeInput.invalid && (cidadeInput.dirty || cidadeInput.touched)">
    <label for = "turma">Turmas {{documentos}}</label>
    <select multiple
        disabled={{!(documentos)}}
        id = "turma"
        name = "turma"
        required 
        class = "form-control"
        [(ngModel)] = "turma"
        #turmaInput = "ngModel"
        [class.is-invalid]="turmaInput.invalid && (turmaInput.dirty || turmaInput.touched)">
        <option *ngFor="let turma of turmas">{{turma}}</option>
        <div *ngIf="turmaInput.invalid && (turmaInput.dirty || turmaInput.touched)"
              class="invalid-feedback">
        <span *ngIf="turmaInput.errors.required">
            Você precisa informar alguma turma
          </span>
        </div>
    </select>
    <label for="documentos">Documentos:</label>
        <div class="form-check">
        <input type="checkbox" class="form-check-input" id="documentos"
            name = "documentos"
            [(ngModel)]="documentos"  data-md-icheck (change)="checkboxTrue($event);">
        <label class="form-check-label" for="documentos">Checado</label>
      </div>
   
    <button class="btn btn-primary"
      [disabled]="cadastro.invalid">
      Salvar
    </button>

  </form>
  </div>
</div>
