<div class="container mt-5">
  <form #cadastro="ngForm" (ngSubmit)="save()" [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for = "name">Nome</label>
        <input type="text"
          id = "name"
          name = "name"
          class = "form-control"
          placeholder = "Nome"
          formControlName="name"
          required>

          <small *ngIf="form.controls.name.invalid && !form.controls.name.pristine" class="text-danger">
            Você precisa informar o nome<br />
          </small>
      </div>

      <div class="form-group col-md-4">
        <label for = "nascimento">Nascimento</label>
        <input type="date"
          id = "birth"
          name = "birth"
          class="form-control"
          formControlName="birth"
          required>
      </div>

      <div class="form-group col-md-4">
        <label for = "cpf">CPF</label>
        <input type="text"
          id = "cpf"
          name = "cpf"
          class = "form-control"
          maxlength = "14"
          placeholder = "012.345.678-90"
          formControlName="cpf"
          required>

          <small *ngIf="form.controls.cpf.invalid && !form.controls.cpf.pristine" class="text-danger">
            Seu CPF deve ter 14 dígitos <br />
          </small>

      </div>
    </div>


    <div class="form-row mt-3">
      <div class="form-group col-md-2">
        <label>Sexo</label>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="masculinoRadio"
            name="sex"
            value="Masculino"
            class="custom-control-input"
            formControlName="sex">
          <label class="custom-control-label" for="masculinoRadio">Masculino</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="femininoRadio"
            name="sex"
            value="Feminino"
            class="custom-control-input"
            formControlName="sex">
          <label class="custom-control-label" for="femininoRadio">Feminino</label>
        </div>
      </div>

      <div class="form-group col-md-5">
        <label for = "email">E-Mail</label>
        <input type="email"
          id = "email"
          name = "email"
          class = "form-control"
          placeholder="exemplo@email.com.br"
          formControlName="email"
          required>
      </div>

      <div class="form-group col-md-5">
        <label for = "phone">Telefone</label>
        <input type="number"
          id = "phone"
          name = "phone"
          class = "form-control"
          placeholder = "63 99278-7871"
          formControlName="phone"
          required>
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group col-md-12">
        <label for = "address">Endereço</label>
        <input type="text"
          id = "address"
          name = "address"
          class = "form-control"
          minlength="30"
          placeholder = "Rua Paraopeba 360"
          formControlName = "address"
          required>

          <small *ngIf="form.controls.address.invalid && !form.controls.address.pristine" class="text-danger">
            Este campo requer pelo menos 30 caracteres <br />
          </small>
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group col-md-5">
        <label for = "cidade">Cidade</label>
        <input
          type="text"
          id = "cidade"
          name = "cidade"
          class = "form-control"
          placeholder="Palmas"
          formControlName="city"
          required>

        <small *ngIf="form.controls.city.invalid && !form.controls.city.pristine" class="text-danger">
          Você precisa informar a Cidade <br />
        </small>
      </div>

      <div class="form-group col-md-5">
        <label for = "cep">CEP</label>
        <input
          type="number"
          id = "cep"
          name = "cep"
          class = "form-control"
          placeholder = "77500-000"
          formControlName="cep"
          required>

          <small *ngIf="form.controls.city.invalid && !form.controls.city.pristine" class="text-danger">
            Você precisa informar o CEP <br />
          </small>
      </div>

      <div class="form-group col-md-2">
        <label for = "estado">Estado</label>
        <select formControlName="uf" id="estado" name="estado" class = "form-control">
            <option *ngFor="let code of uf" [value]="code">{{code}}</option>
        </select>
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="form-group col-md-4">
        <label for="documentos">Documentos:</label>
        <div class="custom-control custom-checkbox ml-4">
        <input type="checkbox" class="custom-control-input" id="documentos"
            name = "documentos" formControlName="documentsValid" (click)="enableOrDisable()">
        <label class="custom-control-label" for="documentos">Checados</label>
      </div>
      </div>

      <div class="form-group col-md-8">
        <label for = "turma">Turmas</label>
        <select
          id = "turmas"
          name = "turmas"
          class = "form-control"
          formControlName="turmas"
          multiple required>
          <option *ngFor="let turma of turmas">{{turma.number}} - {{turma.name}}</option>
        </select>

        <small *ngIf="form.controls.turmas.invalid && !form.controls.turmas.pristine" class="text-danger">
          Você precisa informar uma ou mais turma <br />
        </small>
      </div>
    </div>

    <div class="form-group float-right">
      <button class="btn btn-secondary" type="button" (click)="onReset()" title="Limpar">
        Limpar
      </button>

      <button class="btn btn-primary mx-1" type="submit" [disabled]="form.invalid" title="Salvar">
          <li class="fas fa-save"></li> Salvar
      </button>
    </div>
  </form>

  <table class="table table-striped pt-5" *ngIf="students.length">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Sexo</th>
        <th scope="col">Turmas</th>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ calcAge(student.birth) }}</td>
        <td>{{ student.sex }}</td>
        <td>{{ student.turmas.join(', ') }};</td>
      </tr>
    </tbody>
  </table>
</div>
